.container {
  max-width: var(--max-width);
  margin: auto;
  padding-top: 32px;
  padding-bottom: 100px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}

.video h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.details {
  margin-top: 8px;
  margin-bottom: 8px;
}

.title {
  font-size: 16px;
}

.title a {
  text-decoration: underline;
}

.djs {
  margin-bottom: 8px;
  font-size: 12px;
  font-style: italic;
}

.location  {
  font-size: 12px;
}

.date {
  font-size: 12px;
}

.videoPlayer {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin-top: 16px;
}