.container {
  max-width: var(--max-width);
  margin: auto;
  padding-top: 32px;
  padding-bottom: 100px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}