.main {
  /* padding: 24px 0; */
}

.topContainer {
  height: 100vh;
  /* background-image: url('/spirals.png');
  background-size: contain;
  background-repeat: no-repeat; */
  /* margin-bottom: 128px; */
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    height: auto;
  }
}

.spiral {
  height: 100vh;
}

.wrapper {
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
  margin: 0 auto;

  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}

.description {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  font-size: 40px;

  @media only screen and (max-width: 768px) {
    line-height: 30px;
    font-size: 20px;
  }
}

.headerContainer {
  display: flex;
}

.headerContainer h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 175px;
  /* color: #a88eb1; */
  justify-content: center;
  display: flex;
  flex-direction: column;

   @media only screen and (max-width: 768px) {
     font-size: 90px;
  }
}

.femmifesting {
  font-size: 50px;
  font-style: italic;
  color: #a88eb1;

   @media only screen and (max-width: 768px) {
    font-size: 40px;
  }
}

.video {
  position: absolute;
  right: 0;
  top: 64px;
  width: 100%;
  height: 100vh;
  z-index: -2;
  object-fit: cover;
}


.videoOverlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}