.container {
  max-width: 900px;
  margin: auto;
  @media only screen and (max-width: 768px) {
    padding: 16px;
  }
}


.mix {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin-bottom: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;

   @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr
  }
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  height: 250px;
  width: 100%;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.date {
  padding-bottom: 4px;
}

.location {
  padding-bottom: 16px;
  font-style: italic;
}